tracks/h3k27ac.bigWig filter=lfs diff=lfs merge=lfs -text
tracks/h3k4me1.bigWig filter=lfs diff=lfs merge=lfs -text
tracks/h3k4me3.bigWig filter=lfs diff=lfs merge=lfs -text
tracks/h3k27me3.bigWig filter=lfs diff=lfs merge=lfs -text
tracks/dnase.bigWig filter=lfs diff=lfs merge=lfs -text
